/*Сделать весь текст невыделяемым*/
* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Отключить стандартные отступы тела страницы*/
body {
  margin: 0;
}

.container{
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.scene{
  width: 960px;
  height: 560px;
  border: 6px solid #8BC34A;
  border-radius: 12px;
  background-color: rgb(252, 243, 205);
  position: relative;
  margin: 0 auto;
  top: 30px;
}

.scene .title {
  display: inline-block;
  position: relative;
  font-size: 36px;
  color: #464242;
  top: 10px;
}

.scene .button {
    display: inline-block;
    position: relative;
    font-size: 24px;
    color: #464242;
}

#butt {
  border: 6px solid #8BC34A;
  border-radius: 12px;
  background-color: rgb(255, 255, 240);
  margin: 0 auto;
  position: relative;
  width: 330px;
  height: 40px;
  bottom: 5px;
}

.action {
  position: relative;
  width: 100%;
  height: 460px;
}

.test {
  display: inline-block;
  border: 6px solid #8BC34A;
  border-radius: 12px;
  background-color: rgb(255, 255, 240);
  margin: 0 auto;
  position: relative;
  width: 360px;
  height: 360px;
  bottom: 40px;
}

.game {
  display: inline-block;
  width: 477px;
  height: 460px;
}

.image {
  width: 120px;
  height: 120px;
  position: absolute;
}

.game .image {
  display: inline-block;
  /* position: static;*/
}

#t0_0 {
	background: url("img/0_0.png"); 
}

#t0_1 {
	background: url("img/0_1.png"); 
}

#t0_2 {
	background: url("img/0_2.png");
}

#t1_0 {
	background: url("img/1_0.png");
}

#t1_1 {
	background: url("img/1_1.png");
}

#t1_2 {
	background: url("img/1_2.png");
}

#t2_0 {
	background: url("img/2_0.png");
}

#t2_1 {
	background: url("img/2_1.png");
}

#t2_2 {
	background: url("img/2_2.png");
}